/vendor
/node_modules
.env
/bower_components
npm-debug.log
.idea/
composer.phar
composer.lock
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

